* {
    margin: 0;
    box-sizing: border-box;
}
body {
 min-height: 100vh;
 background-color: black;
 place-items: center;
 display: grid;
 text-align: center;
 
}
.container {
color: white;
background-color: rgba(165, 63, 63, 0.596);
padding: 60px;
border-radius: 10px;
}
p {
    font-size: 80px;
}
h1{
    font-size: 50px;
}
button {
    font-size: 25px;
    background-color: gray;
    color: white;
    font-size: 30px;
    padding: 15px;
    border-radius: 9px;
}